<form action="/airports" method="POST">
    <input type="text" name="airportCode" placeholder="Airport Code" required>
    <input type="text" name="airportName" placeholder="Airport Name" required>
    <input type="text" name="city" placeholder="City" required>
    <input type="text" name="country" placeholder="Country" required>
    <input type="number" name="numberOfTerminals" placeholder="Number of Terminals" required>
    <input type="text" name="contactNumber" placeholder="Contact Number" required>
    <button type="submit">Add Airport</button>
</form>
